/* =Reset
-------------------------------------------------------------- */
/* line 15, scss/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 26, scss/base.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 32, scss/base.scss */
body {
  background: #fff;
}

/* line 33, scss/base.scss */
html, body {
  height: 100%;
}

/* line 43, scss/base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 46, scss/base.scss */
ol, ul {
  list-style: none;
}

/* line 49, scss/base.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 53, scss/base.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 58, scss/base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 61, scss/base.scss */
blockquote, q {
  quotes: "" "";
}

/* line 64, scss/base.scss */
a:focus {
  outline: thin dotted;
}

/* line 68, scss/base.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

/* line 71, scss/base.scss */
a img {
  border: 0;
}

/* line 74, scss/base.scss */
form {
  margin: 0;
}

/* line 75, scss/base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 76, scss/base.scss */
label {
  cursor: pointer;
  display: block;
  margin: 0 0 5px;
}

/* line 77, scss/base.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 78, scss/base.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 79, scss/base.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 80, scss/base.scss */
table button, table input {
  *overflow: auto;
}

/* line 81, scss/base.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 82, scss/base.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 83, scss/base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 84, scss/base.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 85, scss/base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 86, scss/base.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 88, scss/base.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 89, scss/base.scss */
input, textarea, select {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
  color: #313131;
  font-size: 12px;
  line-height: 1.5em;
  padding: 5px 10px;
  vertical-align: middle;
}

/* line 99, scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 100, scss/base.scss */
td {
  vertical-align: top;
}

/* line 101, scss/base.scss */
*, *:after, *:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 112, scss/base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 116, scss/base.scss */
.clearfix:after {
  clear: both;
}

/* line 117, scss/base.scss */
.clearfix {
  *zoom: 1;
}

/* =Global
----------------------------------------------- */
/* line 126, scss/base.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 1.6em;
}

/* Headings */
/* line 131, scss/base.scss */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  clear: both;
}

/* line 134, scss/base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 135, scss/base.scss */
h1 {
  font-size: 2.3em;
  line-height: 2.45em;
}

/* line 139, scss/base.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.9em;
}

/* line 143, scss/base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.65em;
}

/* line 147, scss/base.scss */
h4 {
  font-size: 1.35em;
  line-height: 1.4em;
}

/* line 151, scss/base.scss */
h5 {
  font-size: 1.1em;
  line-height: 1.25em;
}

/* line 155, scss/base.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 163, scss/base.scss */
p {
  margin-bottom: 1.5em;
}

/* line 166, scss/base.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 169, scss/base.scss */
ul {
  list-style: disc;
}

/* line 172, scss/base.scss */
ol {
  list-style: decimal;
}

/* line 176, scss/base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 180, scss/base.scss */
dt {
  font-weight: bold;
}

/* line 183, scss/base.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 186, scss/base.scss */
b, strong {
  font-weight: bold;
}

/* line 189, scss/base.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 192, scss/base.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 195, scss/base.scss */
address {
  margin: 0 0 1.5em;
}

/* line 198, scss/base.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}

/* line 209, scss/base.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 212, scss/base.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 216, scss/base.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 221, scss/base.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 228, scss/base.scss */
sup {
  bottom: 1ex;
}

/* line 231, scss/base.scss */
sub {
  top: .5ex;
}

/* line 234, scss/base.scss */
small {
  font-size: 75%;
}

/* line 237, scss/base.scss */
big {
  font-size: 125%;
}

/* line 240, scss/base.scss */
figure {
  margin: 0;
}

/* line 243, scss/base.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 247, scss/base.scss */
th {
  font-weight: bold;
}

/* line 250, scss/base.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 257, scss/base.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
  color: #313131;
  line-height: 1.5;
}

/* line 266, scss/base.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

/* line 272, scss/base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  background: #69bd45;
  border: none;
  color: #efefef;
  font-weight: 400;
  height: auto;
  overflow: visible;
  padding: 7px 20px;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -ms-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  width: auto;
  text-transform: uppercase;
}

/* line 293, scss/base.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #313131;
  color: #fff;
}

/* line 304, scss/base.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 309, scss/base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 313, scss/base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 319, scss/base.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 323, scss/base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 331, scss/base.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 0px;
}

/* line 340, scss/base.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 346, scss/base.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  padding: 10px;
}

/* line 349, scss/base.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Links */
/* line 357, scss/base.scss */
a {
  color: #313131;
  text-decoration: none;
}

/* line 361, scss/base.scss */
a:visited {
  color: #666;
  outline: none;
}

/* line 367, scss/base.scss */
a:hover,
a:focus,
a:active {
  color: #69bd45;
}

/* Alignment */
/* line 372, scss/base.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 377, scss/base.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 382, scss/base.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 389, scss/base.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 396, scss/base.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* Clearing */
/* line 421, scss/base.scss */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}

/* line 428, scss/base.scss */
.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}
